@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.primary-text{
    color: blue;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
.btn-primary{
    color: white;
    border: 1px solid white;
}
.btn-secondary{
    color: white;
    background: #383848;
    margin-top: 2rem;
}
.btn-primary:hover,
.btn-secondary:hover{
  background-color: blue;
}
/* header start */
header{
    height: 100vh;
    background:url(fast-food-seamless-background-illustration-simple-restaurant-menu-background-vector.jpg) center center/cover no-repeat ;
}
#navbar img {
    width: 80px;
    margin-left: 100px;
    margin-top: 30px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar ul {
display: flex;
margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 20px;
    color: white;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid yellow;
}
header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
header .content h1 {
    font-size: 40px;
    color: white;
}
header .content p {
    margin: 20px 0 40px;
    color: white;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0 , 0.6);
}
header *{
    z-index: 30;
}
/* header end */
/* About Start */
#about{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
#about .title,
#offers .title,
#menu .title{
    text-align: center;
    margin-bottom: 4rem;
}
#about h2 ,
#offers h2,
#menu h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#about h2,
#menu h2{
    color: #383848;
}
#about .title p,
#menu .title p {
    font-size: 14px;
    color: gray;
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
}
#about .about-content img {
    width: 450px;
}
#about .about-content p {
    color: gray;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;
}
/* About End */
/* Offers start */
#offers {
    height: 80vh;
    display: flex;
    justify-content: center;
    background: url(OIP\ \(1\).jpeg) center center/cover fixed;
}
#offers h2 {
    color: yellow;
}
#offers .title p {
    color: white;
    font-weight: 500;
}
#offers .offers-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
#offers .offers-items img {
    width: 200px;
}
#offers .offers-items h3{
    font-size: 25px;
    margin: 15px 0px;
}
#offers .offers-items p {
    font-size: 14px;
    padding: 0px 20px ;
    font-weight: 300;
    margin-bottom: 15px;
}
#offers .offers-items span {
    font-size: 19px;
    font-weight: 600;
    margin-left: 5px;
    color: yellow;
}
/* Offers  end */
/* Menu  Start */
#menu {
    background: #f4f2ed;
    padding: 5rem 0;
  }
  
  #menu .title h2 {
    color: #383848;
  }
  #menu .title p {
    color: #9a9a9a;
    font-weight: 500;
  }
  
  #menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  
  #menu .menu-items .menu-item img {
    width: 80px;
    margin-right: 40px;
    border-radius: 50%;
  }
  
  #menu .menu-items .menu-item h3 {
    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    position: relative;
  }
  
  #menu .menu-items .menu-item span {
    position: absolute;
    right: 0px;
    top: 0;
  }
  
  #menu .menu-items .menu-item p {
    margin-top: 10px;
  }
  

/* Menu  End */
/* Daytime  Start */
#daytime {
    background: url(background_daytime.jpg)center center/cover fixed no-repeat;
    color: white;
    text-align: center;
}
#daytime .daytime-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
#daytime .daytime-items h3{
    font-size: 32px;
    margin: 20px 0px 10px;
}
#daytime .daytime-items p{
    font-weight: 800;
}
#daytime .daytime-items img {
    width: 110px;
}
  /* Daytime End */
  /* Contact Section start */
#contact{
    padding: 5rem 0;
    background: #f4f4f4;
}
#contact .container{
    max-width: 900px;
}
#contact .contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .contact-content .contact-info{
    width: 50%;
}
#contact .contact-content .contact-info div{
    margin: 30px 0;
    line-height: 1.7;
}
#contact .contact-content .contact-info h3{
    font-size: 28px;
    color: gray;
    margin-bottom: 10px ;
}
#contact .contact-content .contact-info p{
    color: #9a9a9a;
}
#contact .contact-content .contact-info i{
color: yellow;
margin-right: 5px;
}
#contact .contact-content .contact-info a i{
    color: white;
    background-color: gray;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}
#contact .contact-content .contact-info a i:hover{
    background: yellow;
    color: #383848;
}
form{
    width: 50%;
}
form input,
textarea {
display: block;
width: 100%;
padding: 20px 15px;
margin: 20px 0;
border: none;
background-color: #e3e2dd;
}
#contact .btn{
    background: #e4b95b;
    color: #fff;
    cursor: pointer;
}
#contact .btn:hover {
    background-color: gray;
}
 /* Contact Section End */
 
  